@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

html, body {
    overflow-x: hidden;
}

.container-box {
    background-color: #4583ff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box .card {
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    box-shadow: 0px 0px 10px 5px #0066ffd7;
    background-color: white;
    border-radius: 10px;
}

input:focus {
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid #1b76bb;
    border-radius: 5px;
}

.container-box .card .txt {
    text-align: center;
    width: 100%;
}

.container-box .card .txt h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 15px;
}

.container-box .card .txt .norms {
    height: 35px;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid #1b76bb;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-box .card .txt .inval {
    display: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: red;
    margin-bottom: 10px;
}

.container-box .card .txt .btn {
    width: 100%;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #1b76bb, #0664AD);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-box .card .txt .btn:hover {
    background-image: linear-gradient(to bottom right, #1b76bbdd, #0665ade0);
    box-shadow: 0px 0px 10px 3px #0ac7f2d7;
    cursor: pointer;
}

.qrbox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    margin: 0 auto;
}

.qrbox.show-img {
    max-height: 300px;
    margin: 10px auto;
}

.qrbox img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
